<h2>Edit profile</h2>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user, html: {class: 'general'} do |f| -%>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, 'Email Address' %>
    <%= f.text_field :email %>
  </div>
  <div class="buttons">
    <%= f.button %>
  </div>
<% end %>