<h2>User: <%= @user.name %></h2>

<nav class="buttons">
  <% if current_user && current_user == @user %>
    <%= link_to "Edit Profile", edit_user_path(@user) %>
  <% end %>
</nav>

<dl class="profile">
  <dt>Name</dt>
  <dd><%= @user.name %></dd>

  <dt>Email Address</dt>
  <dd><%= @user.email %></dd>

  <dt>Registration Date</dt>
  <dd><%= @user.created_at.to_formatted_s(:long_ordinal) %></dd>
</dl>

<% if @user.reviews.any? %>
  <h3>User reviews of products</h3>
  <ul class="reviews">
    <% @user.reviews.each do |review| %>
      <li class="review">
        <header>
          <%= link_to review.product.name, product_path(review.product) %>
        </header>
        <article>
          <%= review.comment %>
        </article>
        <footer>
          <%= review.created_at.to_formatted_s(:long_ordinal) %>
        </footer>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    <em>This user has not yet reviewed any products</em>
  </p>
<% end %>
