<h2>Add Category</h2>

<nav class="buttons">
  <%= link_to 'View all categories', categories_url %>
</nav>

<%= form_for @category, html: {class: 'general'} do |f| %>
  <div class="field">
    <%= f.label :name, 'Category name: ' %>
    <%= f.text_field :name %>
  </div>

  <div class="buttons">
    <%= f.button %>
  </div>
<% end %>
