<%= form_for @product, html: {class: 'general'} do |f| %>
  <% if @product.errors.any? %>
    <h2>Errors:</h2>
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class='field'>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class='field'>
    <%= f.label :price_in_cents %>
    <%= f.number_field :price_in_cents %>
  </div>
  <div class='field'>
    <%= f.label :category_id %>
    <%= f.select :category_id, @categories.map { |c| [c.name.capitalize, c.id] } %>
  </div>
  <div class="buttons">
    <%= f.button 'Save' %>
  </div>
<% end %>