<h2>Products</h2>

<% if current_user && current_user.id === 1 %>
  <nav class="buttons">
    <%= link_to 'Add a new product', new_product_path %>
  </nav>
<% end %>

<%= form_tag products_path, method: :get, authentication: false, id: "search-form" do %>
  <%= text_field_tag :search, params[:search] %>
  <%= button_tag "Search" %>
<% end %>

<div id="products">
  <% if @products.any? %>
    <ul>
      <%= render @products %>
    </ul>
  <% else %>
    <p>
      <em>There are no products on <strong>Rainforest</strong> so far</em>
    </p>
  <% end %>
</div>