<h2>
  <%= @product.name %>
</h2>

<nav class="buttons">
  <% if current_user && current_user.id == 1 %>
    <%= link_to 'Edit', edit_product_path(@product)  %>
  <% end %>
  <%= link_to 'Back', products_path %>
</nav>

<dl class="products">
  <dt>Category</dt>
  <dd>
    <%= link_to @product.category.name.capitalize, category_path(@product.category) %>
  </dd>

  <dt>Price</dt>
  <dd><%= @product.price %></dd>

  <dt>Description</dt>
  <dd><%= @product.description %></dd>
</dl>

<section class="reviews">
  <h3>Customer Reviews</h3>
  <% if @reviews.any? %>
    <% @reviews.each do |review| %>
      <%= render partial: 'review', locals: {review: review} %>
    <% end %>
  <% else %>
    <p class="empty">
      This product is not yet reviewed.
    </p>
  <% end %>
  <% if current_user %>
    <%= render partial: 'comment' %>
  <% else %>
    <p>
      <a href="<%= new_session_path %>">Log in</a> to post a review.
    </p>
  <% end %>
</section>
