<h1>Product <%= @product.id %></h1>
<h2><%= @product.name %></h2>
<section><%= @product.description %></section>
<footer><%= @product.price %></footer>
<%= link_to 'Edit', edit_product_path(@product)  %>
<%= link_to 'Back', products_path %>
<% @product.reviews.each do |review| %>
  <p><%= review.comment %></p>
<% end %>