<h1><%= @product.name %></h1>
<section><%= @product.description %></section>
<footer><%= @product.price %></footer>

<%= link_to 'Edit', edit_product_path(@product)  %>
<%= link_to 'Back', products_path %>

<h3>Customer Reviews</h3>
<% if @reviews.any? %>
  <% @reviews.each do |review| %>
    <%= render partial: 'review', locals: {review: review} %>
  <% end %>
<% else %>
  <em>This product is not yet reviewed.</em>
<% end %>

<% if current_user %>
  <%= render partial: 'comment' %>
<% else %>
  <a href="<%= new_session_path %>">Log in</a> to post a review.
<% end %>