%h2
  = @product.name
%nav.buttons
  = link_to 'Edit', edit_product_path(@product)
  = link_to 'Back', products_path
%dl.products
  %dt Category
  %dd= @product.category.name.capitalize
  %dt Price
  %dd= @product.price
  %dt Description
  %dd= @product.description
%section.reviews
  %h3 Customer Reviews
  - if @reviews.any?
    - @reviews.each do |review|
      = render partial: 'review', locals: {review: review}
  - else
    %p.empty This product is not yet reviewed.
  - if current_user
    = render partial: 'comment'
  - else
    %a{:href => new_session_path} Log in
    to post a review.
