!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rainforest
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .outer_container.top
      .inner_container
        %header
          = render 'shared/session'
          %section.flash
            = render 'shared/flash'
          %h1.top= link_to 'Rainforest', root_url
    .outer_container
      .inner_container
        = yield
