<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="outer_container top">
  <div class="inner_container">
    <header class="primary">
      <%= render 'shared/session' %>
      <section class="flash">
        <%= render 'shared/flash' %>
      </section>
      <h1 class="top"><%= link_to 'Rainforest', root_url %></h1>
    </header>
  </div>
</div>
<div class="outer_container">
  <div class="inner_container">
    <%= yield %>
  </div>
</div>



</body>
</html>
